<div id="<%= dom_id surah %>">
  <h4><%= surah.serial_number %>. <%= surah.name %></h4>

  <p>
    <strong>Place of revealed:</strong>
    <%= surah.place_of_revealed %>
  </p>

  <p>
    <strong>Verses:</strong>
    <%= surah.verses %>
  </p>

  <p>
    <strong>Recited:</strong>
    <%= surah.recited %>
  </p>

  <p>
    <strong>Due:</strong>
    <%= surah.due %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= surah.status %>
  </p>

  <p>
    <strong>Full recite count:</strong>
    <%= surah.full_recite_count %>
  </p>

  <p>
    <strong>Starting date:</strong>
    <%= surah.starting_date %>
  </p>

  <p>
    <strong>Completion date:</strong>
    <%= surah.completion_date %>
  </p>

</div>
